<section
    class="min-h-screen w-full block grow md:flex justify-between items-center px-32"
>
    <div class="h-full">
        <img
            src="/img/secondary_ilustration.svg"
            class="w-auto h-full"
            alt=""
        />
    </div>
    <div
        class="h-full flex justify-center align-middle grow p-24 text-white text-3xl font-bold"
    >
        Hecho por y para la comunidad. Simpleza, Rapidez, Comodidad. <br />
        ! La mejor alternativa ยก
    </div>

    <style>
        section {
            background-color: #131a1d;
        }
    </style>
</section>
