---

---

<section class="min-h-screen p-16">
    <p class="text-5xl font-bold max-w-4xl">
        Que estas esperando para ser parte? <br />
        es gratis, facil y seguro, haceme caso, no te vas a arrepentir.
    </p>
    <div class="grid md:flex justify-end md:px-48 py-10 gap-3">
        <a href="/register" class="px-8 py-4 font-bold rounded-lg text-4xl"
            >Registrarse</a
        >
        <a href="/demo" class="px-8 py-4 font-bold rounded-lg text-4xl">Demo</a>
    </div>
</section>

<style>
    section {
        background-color: #d9d9d9;
    }
    button {
        background-color: #0d1321;
        color: white;
    }
</style>
