---

---

<section class="min-h-screen p-16">
    <p class="text-5xl font-bold max-w-2xl">
        Que estas esperando para ser parte? <br />
        es gratis, facil y seguro, haceme caso, no te vas a arrepentir.
    </p>
    <div class="lg:ml-52 mt-8">
        <button class="px-5 py-3 font-bold rounded-lg text-2xl"
            >Registrarse</button
        >
        <button class="px-5 py-3 font-bold rounded-lg text-2xl">Demo</button>
    </div>
</section>

<style>
    section {
        background-color: #d9d9d9;
    }
    button {
        background-color: #0d1321;
        color: white;
    }
</style>
