---
import "@fontsource-variable/league-spartan";
import Header from "../components/Header.astro";
interface Props {
	title: string;
	content: string;
}

const { title, content } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={content} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	:root {
	}
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		font-family: "League Spartan Variable";
	}
</style>
